<div class="container d-flex justify-content-center align-items-center flex-column py-2">
  <div class="mt-2 mb-3">
    <img src="assets/logo.png" style="height:100px;width:auto" class="me-2">
    <img src="assets/ac.png" style="height:100px;width:auto">
  </div>
  <ng-container *ngIf="enableVote">
    <div *ngIf="!userId">
      <label>Inserisci il tuo nome</label>
      <input type="text" class="form-control" [(ngModel)]="userName" placeholder="Scrivilo qui...">
      <div class="btn btn-primary mt-2" (click)="salvaNome()" [class.disabled]="disableInput">Conferma</div>
    </div>
    <div *ngIf="userId">
      <div class="alert alert-success display-6">
        Ciao {{userName}},<br>
        che emozione stai provando in questo momento? Scegline UNA e clicca CONFERMA
      </div>
      <ul class="list-group emozioni">
        <li *ngFor="let e of emozioni | keyvalue" (click)="emozione=e.key"
            [class.active]="emozione==e.key" class="list-group-item">
          <span class="mr-2">{{e.value}}</span> {{e.key}}
        </li>
      </ul>
      <div class="d-flex justify-content-center align-items-center">
        <div class="btn btn-primary btn-lg mt-2" (click)="salvaEmozione()" [class.disabled]="disableInput">Conferma</div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!enableVote">
    <div class="alert alert-info display-6">
      <span style="font-size: 1.5rem">Caro Campista,</span><br>
      non è il momento giusto per comunicarci la tua EMOZIONE!<br>
      Forse stai usando il telefono in un orario in cui non dovresti???<br>
      SGAMATO!
    </div>
    <div class="btn btn-primary" (click)="reload()">Clicca qui per aggiornare</div>
  </ng-container>
</div>
