<div>
  <div class="container d-flex justify-content-center align-items-center flex-column vh-100">
    <div style="height: 30%">
      <ngx-scanner-qrcode #action="scanner" (event)="scegliSquadra($event)" [config]="config" [isBeep]="false"></ngx-scanner-qrcode>
      <button class="btn-sm btn-outline-secondary" (click)="action.isStart ? action.stop() : action.start()">{{action.isStart ? 'Stop' : 'Start'}}</button>
    </div>
    <p class="mt-1" style="height: 65%">
      <img src="assets/{{mode}}/{{squadra}}.jpg" class="h-100" alt=""/>
    </p>
  </div>
</div>
