input:focus {
  box-shadow: none;
}

.container-fluid.acqua, .container-fluid.acqua input {
  background-color: #22b4dc;
}

.container-fluid.fuoco, .container-fluid.fuoco input {
  background-color: #e93a3a;
}

.container-fluid.aria, .container-fluid.aria input {
  background-color: #59d9b6;
}

.container-fluid.terra, .container-fluid.terra input {
  background-color: #139f4a;
}

.container-fluid.etere, .container-fluid.etere input {
  background-color: #e3da29;
}

.container-fluid.chef, .container-fluid.chef input {
  background-color: #ea7537;
}

.container-fluid.bimbi, .container-fluid.bimbi input {
  background-color: #b17ee1;
}
